body {
  background: #c4dbeba1;
  background-image: url("Images/Sky\ Anime\ Landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Laila", sans-serif;
}
p {
  margin-bottom: 5px;
}
::placeholder {
  color: #2c2a4d;
  opacity: 1;
}
#submit {
  padding: 4px 15px;
  border-radius: 10px;
  background: #5c4f95;
  color: #cdbdbe;
  border: 1px solid #5c4f95;
}
#icon {
  width: 80px;
}
#temp {
  font-size: 30px;
}
#description::first-letter {
  text-transform: capitalize;
}
.temp-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 45px;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(250 75 75 / 37%);
  border-radius: 3px;
}
.form-container {
  background-color: #ededff47;
  box-shadow: inset 0 0 20px 0px #e1babd;
  border-radius: 10px;
  padding: 20px;
  width: 55%;
}
.search-input {
  background: #5d60a640;
  border: none;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #2c2a4d;
}
.info-container {
  margin: 45px 0px;
}
.row {
  align-items: center;
}
.forecast-container {
  width: 57%;
}
.forecast-cards {
  background-color: #ededff47;
  box-shadow: inset 0 0 20px 0px #e1babd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  padding: 20px;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-icon {
  width: 42px;
}
.max-weather {
  padding: 0;
  color: #2c2a4d;
}
.min-weather {
  padding: 0;
  color: #5c377a8f;
}
.custom-row {
  justify-content: space-evenly;
}
.weather-condition {
  padding-top: 10px;
}
@media screen and (max-width: 600px) {
  body {
    background-size: none;
  }
  .temp-container {
    padding: 0;
  }
  .weather-container {
    position: relative;
  }
  .form-container {
    margin: 10px;
    padding: 10px;
    width: 90%;
  }
  .txt-align {
    text-align: left;
  }
  .forecast-container {
    width: 100%;
    flex-direction: column;
  }
  .custom-row {
    flex-direction: column;
  }
  .forecast-cards {
    width: 90%;
  }
}
